@import "tailwindcss";

@theme {
  --font-sans: "Helvetica Neue", Arial, sans-serif;
  --font-kei: "Keifont", sans-serif;

  --animate-gradient: hue-loop 10s linear infinite;

  --animate-slide: pattern-slide 20s linear infinite;
  --animate-fade-dots: pattern-fade-dots 40s ease-in-out infinite;
  --animate-fade-grid: pattern-fade-grid 40s ease-in-out infinite;

  @keyframes hue-loop {
    0% {
      filter: hue-rotate(0deg);
    }
    50% {
      filter: hue-rotate(-45deg);
    }
    100% {
      filter: hue-rotate(0deg);
    }
  }

  @keyframes pattern-slide {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 40px;
    }
  }
  @keyframes pattern-fade-dots {
    0%,
    40% {
      opacity: 1;
    }
    50%,
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes pattern-fade-grid {
    0%,
    40% {
      opacity: 0;
    }
    50%,
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@layer components {
  .ito-box {
    @apply bg-white border-2 border-black rounded-xl shadow-[3px_4px_0_0_rgba(0,0,0,1)];
  }
}

@layer utilities {
  .bg-base-gradient {
    background: linear-gradient(150deg, #ffe419 0%, #ec003b 100%);
    background-size: 100% 100%;
    animation: var(--animate-gradient);
  }

  /* ② 手前のレイヤー（柄のフェード） */
  .pattern-auto-dots {
    background-image: radial-gradient(rgba(0, 0, 0, 0.08) 2px, transparent 2px);
    background-size: 20px 20px;
    animation: var(--animate-slide), var(--animate-fade-dots);
  }
  .pattern-auto-grid {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
      linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-size: 20px 20px;
    animation: var(--animate-slide), var(--animate-fade-grid);
  }
}
